body{
    background-color: rgb(235, 174, 226);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0px;
}
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}
#main-header{
    background-color: rgb(80, 26, 73);
    color: honeydew;
}
#navbar{
    background-color: rgb(88, 53, 81);
    color: honeydew;
}
#navbar ul{
    padding: 0;
    list-style: none;
}
#navbar li{
    display: inline;
}
#navbar a{
    color: honeydew;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}
#navbar a:hover{
    color: rgb(210, 66, 30);
}
#navbar a:visited{
    color: honeydew;
}
#showcase{
    background-image:url('../Images/Back2.jpg');
    background-position: right;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: right;
}
#showcase h1{
    color: honeydew;
    font-size: 40px;
    line-height: 1.6em;
    padding-top: 30px;
}
#main{
    float: left;
    width: 70%;
    padding:0 30px;
    margin-bottom: 40px;
    box-sizing: border-box;
}
#main p{
    font-size: 20px;
}
#main h1{
    font-size: 30px;
}
#sidebar{
    float: right;
    width: 30%;
    padding:0 30px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border: 5px rgb(44, 18, 39) solid;
    box-sizing: border-box;
    background-color: rgb(88, 53, 81);
    color: honeydew;
    font-size: 25px;
    line-height: 1.6em;
}
#main-footer{
    text-align: center;
    margin-top: 40px;
    font-size: 12px;
    background-color: rgb(88, 53, 81);
    color: honeydew;
}
#news-container{
    width: 80%;
    margin:auto;
    overflow: hidden;
    background-color: rgb(88, 53, 81);
    padding:0 30px;
    padding-bottom: 20px;
    color: honeydew;  
}
#news-container h1{
    font-size: 40px;  
}
.news{
    width: 100%;
    margin:5px;
    overflow: hidden;
    background-color: rgb(224, 165, 213);
    padding:0 30px;
    padding-bottom: 10px;
    color:black;
    border: 5px rgb(44, 18, 39) solid;
    box-sizing: border-box;   
}
.news h1{
    color:black;
    font-size: 30px;  
}
